{% extends 'base.html' %}

{% block content %}
    <h1>{{ post }}</h1>

    <p class="
        {% if post.votes >= 0 %}
            good
        {% else %}
            bad
        {% endif %}
    ">
        {{ post.votes }}
    <p>

    <p>{{ post.text }}</p>

    <em>{{ post.created }}</em>

    {% if prev_post_id %}
        <p>
            <a href="{% url 'posts:details' prev_post_id %}">poprzedni</a>
        </p>
    {% endif %}
    {% if next_post_id %}
        <p>
            <a href="{% url 'posts:details' next_post_id %}">następny</a>
        </p>
    {% endif %}

    <a href="{% url 'posts:list' %}">powrót</a>
{% endblock %}
